.header {
  background-color: black;
  color: white;
  text-align: center;

  h1 {
    padding: 10px 0 0 0;
    margin: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;

    .currency-item {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      h2 {
        padding: 0;
        margin: 0;
      }
    }
  }
}
