.main-block {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  a {
    color: var(--color-black);
    cursor: pointer;
  }

  a:hover {
    color: var(--color-gray);
  }

  .currency-block {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    background: var(--color-gray);

    .currency-item {
      display: flex;
      flex-direction: column;

      label {
        color: var(--color-rgba);
        font-size: large;
        font-weight: bold;
      }

      input {
        padding: 10px;
        border: 1px solid var(--color-black);
        border-radius: 8px;
        background-color: var(--color-rgba);
      }

      input:focus-visible {
        border: 1px solid var(--color-black);
      }
    }
  }
}
