<div class="main-block">
  <div class="currency-block">
    <app-selection
      [forLabel]="fromCurrencyId"
      [id]="fromCurrencyId"
      [labelText]="fromCurrencyTitle"
      [(valueNg)]="fromCurrency"
      [options]="currencyArray"
      (valueNgChange)="convertCurrency()"
    ></app-selection>
    <div class="currency-item">
      <label for="amount">{{ amountTitle }}</label>
      <input
        placeholder="Type an amount"
        type="number"
        id="amount"
        [(ngModel)]="amount"
        (input)="convertCurrency('from')"
        pattern="[0-9]*"
      />
    </div>
  </div>
  <a (click)="toggleActiveOptions()">
    <svg-icon src="assets/icons/replace.svg"></svg-icon>
  </a>

  <div class="currency-block">
    <app-selection
      [forLabel]="toCurrencyId"
      [id]="toCurrencyId"
      [labelText]="toCurrencyTitle"
      [(valueNg)]="toCurrency"
      [options]="currencyArray"
      (valueNgChange)="convertCurrency('to')"
    ></app-selection>
    <div class="currency-item">
      <label for="convertedAmount">{{ convertedAmountTitle }}</label>
      <input
        type="number"
        id="convertedAmount"
        [(ngModel)]="convertedAmount"
        (input)="convertCurrency('to')"
        pattern="[0-9]*"
      />
    </div>
  </div>
</div>
