<div>
  <label for="fromCurrency">From Currency:</label>
  <select
    id="fromCurrency"
    [(ngModel)]="fromCurrency"
    (change)="convertCurrency()"
  >
    <option
      *ngFor="let currency of currencyArray"
      [value]="currency.currencyCodeA"
    >
      {{ currency.currencyCodeA }}
    </option>
  </select>
  <label for="amount">Amount:</label>
  <input
    type="number"
    id="amount"
    [(ngModel)]="amount"
    (input)="convertCurrency('from')"
    pattern="[0-9]*"
  />
</div>

<div>
  <label for="toCurrency">To Currency:</label>
  <select id="toCurrency" [(ngModel)]="toCurrency" (change)="convertCurrency()">
    <option
      *ngFor="let currency of currencyArray"
      [value]="currency.currencyCodeA"
    >
      {{ currency.currencyCodeA }}
    </option>
  </select>
  <label for="convertedAmount">Converted Amount:</label>
  <input
    type="number"
    id="convertedAmount"
    [(ngModel)]="convertedAmount"
    (input)="convertCurrency('to')"
    pattern="[0-9]*"
  />
</div>
